@model ShoppingCartViewModel

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li class="nav-item mx-3">
        <a class="nav-link">
            <span>
                <i class="fas fa-shopping-cart"></i>
            </span>
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}
