
@model IEnumerable<Category> 

    <li class="nav-item dropdown mx-3">
        <a asp-controller="Pie" 
           asp-action="Index" 
           class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pies
        </a>
        <ul class="dropdown-menu">
            @foreach(var category in Model)
            {
                <li class="dropdown-item">
                    <a class="nav-link text-dark" asp-controller="Pie" asp-action="List" asp-route-category="@category.CategoryName">@category.CategoryName</a>
                </li>
            }
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
                <a class="nav-link text-dark" asp-controller="Pie" asp-action="List" asp-route-category="">View all pies</a>
            </li>
        </ul>
    </li>